@{
    ViewBag.Title = "Course Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="bg-light col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Course </h6>
                <form>
                    <div class="row mb-3" style="float:left;width:33%">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                <option selected>Open this select menu</option>
                                <option value="1">IOT</option>
                                <option value="2">SE</option>
                                <option value="3">SQL</option>
                            </select>
                            <label for="floatingSelect">Course</label>
                        </div>
                    </div>
                    <div class="row mb-3" style="float:left;width:33%;margin-left:2%">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                <option selected>Open this select menu</option>
                                <option value="1">S1</option>
                                <option value="2">S2</option>
                                <option value="3">S3</option>
                            </select>
                            <label for="floatingSelect">Section</label>
                        </div>
                    </div>
                    <div style="float:left;margin-left:2%;margin-top:1%">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="bg-light col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Course Registered</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Course</th>
                            <th scope="col">Section</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td><a href="#" class="link-primary">View Details</a></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mark</td>
                            <td>Otto</td>
                           <td><a href="#" class="link-primary">View Details</a></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td><a href="#" class="link-primary">View Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

